.line{
    width: 70px;
    height: 7px;
    background-color: blueviolet;
    margin: auto;
}
body{
    text-align: center;
}
h1{
    color: crimson;
}
#apps{
background-color: chartreuse;    
}
#games{
    background-color: aqua;
}
#chatbot{
    background-color: darkblue;
}
img:hover{
    transform: scale(0.9);
}